@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat");

@layer base {
  @font-face {
    font-family: "Gotham";
    src: local("Gotham"),
      url("../src/assets/font/Gotham-Bold.otf") format("otf"),
      url("../src/assets/font/GothamMedium.ttf") format("ttf"),
      url("../src/assets/font/GothamBoldItalic.ttf") format("ttf"),
      url("../src/assets/font/GothamBookItalic.ttf") format("ttf"),
      url("../src/assets/font/GothamLight.ttf") format("ttf"),
      url("../src/assets/font/GothamLightItalic.ttf") format("ttf"),
      url("../src/assets/font/GothamBook.ttf") format("ttf");
  }
}

body {
  background-color: black !important;
  color: white !important;
}
body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 5px;
  outline: 1px solid slategrey;
}
