@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Gotham Bold;
    src: url(../src/assets/font/Gotham-Bold.ttf) format("ttf");
  }

  @font-face {
    font-family: Gotham Black;
    src: url(../src/assets/font/Gotham-Black.otf) format("otf");
  }
  @font-face {
    font-family: Gotham Book;
    src: url(../src/assets/font/GothamBook.ttf) format("ttf");
  }
}

body {
  background-color: black;
  color: white;
}
